<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>GP List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/filter}" th:object="${filter}" method="post">
    	<p>Address <input type="text" th:field="*{address}" /></p>
        <p>Name <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Filter" /> </p>
    </form>
<span th:text="${docs.size()}"> </span> records. 
       <table>
       <tr th:each="doc  : ${docs}">
        <td th:text="${doc.id}">001</td>
        <td th:text="${doc.name}">Name</td>
        <td th:text="${doc.address}">City</td>

      </tr>
    </table>
       
</body>
</html>
