<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Geolocation</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    	<h1>Load data</h1>
    <form action="#" th:action="@{/input}" th:object="${input}" method="post">
    	<p>Input File: <input type="text" th:field="*{inputFile}" /></p>
    	(NB there is pre-geocoded file available, UGP_GPlist_DUBLIN_geocoded.json, which can be entered above)
    	<td th:if="${#fields.hasErrors('inputFile')}" th:errors="*{inputFile}">Name Error</td>
        <p><input type="submit" value="Load Input" /> </p>
    </form>
</body>
</html>
