<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Geolocation</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    	<h1>Setup Parameters</h1>
    <form action="#" th:action="@{/input}" th:object="${input}" method="post">
    	<p>File: <input type="text" th:field="*{fileName}" /></p>
    	<td th:if="${#fields.hasErrors('fileName')}" th:errors="*{fileName}">Name Error</td>
        <p><input type="submit" value="Load" /> </p>
    </form>
</body>
</html>
